In [1]:
import datetime
import json
import pandas as pd
from pprint import pprint

In [3]:
temporary = pd.read_csv("nyrestaurants.csv", encoding="utf-8")
print(len(temporary))
print(temporary.dtypes)
temporary.head()

398783
CAMIS                      int64
DBA                       object
BORO                      object
BUILDING                  object
STREET                    object
PHONE                     object
ACTION                    object
VIOLATION CODE            object
VIOLATION DESCRIPTION     object
CRITICAL FLAG             object
SCORE                    float64
GRADE                     object
GRADE DATE                object
RECORD DATE               object
INSPECTION TYPE           object
CUISINE DESCRIPTION       object
ZIPCODE                    int64
INSPECTION DATE           object
dtype: object

,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE
0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/04/23
1,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/08/26
2,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,6.0,A,02/09/2015,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2016/06/16
3,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2017/01/25
4,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,NaN

In [4]:
nyrestaurants = temporary.loc[temporary["CRITICAL FLAG"] == "Critical", :]
nyrestaurants.reset_index(inplace=True)
print(len(nyrestaurants))
nyrestaurants.head(20)

220082

,index,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE
0,0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/04/23
1,1,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/08/26
2,2,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,6.0,A,02/09/2015,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2016/06/16
3,5,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04A,Food Protection Certificate not held by superv...,Critical,12.0,A,05/07/2015,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2013/12/11
4,8,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,8.0,A,12/30/2014,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2014/06/06
5,11,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04J,Appropriately scaled metal stem-type thermomet...,Critical,23.0,B,07/01/2014,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2015/02/19
6,13,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Critical,48.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2015/03/27
7,14,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Critical,14.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2015/04/10
8,15,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,11.0,A,10/27/2016,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2015/05/13
9,17,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,7.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2015/11/05
10,18,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,48.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2016/03/24
11,20,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04H,"Raw, cooked or prepared food is adulterated, c...",Critical,14.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2016/06/24
12,21,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06B,"Tobacco use, eating, or drinking from open con...",Critical,13.0,A,04/30/2016,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2016/06/28
13,22,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,48.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2016/06/29
14,23,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish ...,Critical,23.0,B,07/01/2014,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2016/09/26
15,26,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06A,Personal cleanliness inadequate. Outer garment...,Critical,23.0,B,07/01/2014,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2017/04/14
16,31,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,02I,Food prepared from ingredients at ambient temp...,Critical,26.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2015/04/07
17,34,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,04H,"Raw, cooked or prepared food is adulterated, c...",Critical,26.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2015/05/26
18,35,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,8.0,A,09/21/2015,08/28/2017,Cycle Inspection / Re-inspection,Irish,10019,2015/06/22
19,37,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,26.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2016/04/26

In [5]:
foodtype = ["Bakery","Hamburgers","Delicatessen","Ice Cream"," Gelato"," Yogurt"," Ices","Hotdogs","Sandwiches/Salads/Mixed Buffet","Donuts","Bagels/Pretzels","Continental","Pizza","Soul Food","Steak","Pizza/Italian","Cafe/Coffee/Tea","Seafood","Tex-Mex","Bottled beverages"," including water"," sodas"," juices"," etc.","Pancakes/Waffles","Other","Chicken","Barbecue","","Vegetarian","Juice"," Smoothies"," Fruit Salads","Sandwiches","Soups & Sandwiches","Tapas","Salads","Creole","Cajun","Creole/Cajun","Hotdogs/Pretzels","Southwestern","Fruits/Vegetables","Nuts/Confectionary","Soups","Californian","Not Listed/Not Applicable"]
ethnicity = ["Irish","American","Jewish/Kosher","Chinese","Caribbean","Italian","Polish","Latin (Cuban"," Dominican"," Puerto Rican"," South & Central American)","German","French","Mexican","Spanish","Mediterranean","Japanese","Greek","Thai","Indian","Korean","Russian","Ethiopian","Eastern European","Middle Eastern","Egyptian","English","Chinese/Cuban","Asian","Portuguese","Indonesian","Turkish","Moroccan","Hawaiian","Filipino","Brazilian","Vietnamese/Cambodian/Malaysia","Chilean","Afghan","Pakistani","Peruvian","African","Armenian","Bangladeshi","Czech","Iranian","Scandinavian","Polynesian","Australian","Chinese/Japanese"]

cuisinetype = []

for i in range(len(nyrestaurants)):
    if nyrestaurants.iloc[i,15] in ethnicity:
        cuisinetype.append("ethnic")
    else:
        cuisinetype.append("food")
temp = pd.DataFrame({"Cuisine Type": cuisinetype})
nyrestaurants = nyrestaurants.join(temp)
nyrestaurants.head()

,index,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE,Cuisine Type
0,0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/04/23,food
1,1,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/08/26,food
2,2,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,6.0,A,02/09/2015,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2016/06/16,food
3,5,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04A,Food Protection Certificate not held by superv...,Critical,12.0,A,05/07/2015,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2013/12/11,food
4,8,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,8.0,A,12/30/2014,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2014/06/06,food

In [6]:
violationcodes = nyrestaurants['VIOLATION CODE'].unique()
nviolationcodes = len(violationcodes)
print(nviolationcodes)
violationcodes

50

array(['04L', '06D', '06C', '04A', '04J', '06A', '04N', '04H', '06B',
       '02G', '02I', '06E', '02B', '06F', '04M', '02H', '04D', '04K',
       '04C', '05D', '05F', '02C', '02A', '05B', '04E', '02D', '05H',
       '04O', '04B', '03C', '05C', '03B', '04G', '04F', '05A', '03A',
       '06G', '05E', '07A', '03G', '06I', '03D', '04I', '06H', '05I',
       '02F', '02E', '03E', '03F', '02J'], dtype=object)

In [7]:
cuisines = nyrestaurants['CUISINE DESCRIPTION'].unique()
ncuisines = len(cuisines)
print(ncuisines)
cuisines

84

array(['Bakery', 'Hamburgers', 'Irish', 'American', 'Delicatessen',
       'Ice Cream, Gelato, Yogurt, Ices', 'Hotdogs', 'Jewish/Kosher',
       'Chinese', 'Sandwiches/Salads/Mixed Buffet', 'Caribbean', 'Donuts',
       'Bagels/Pretzels', 'Continental', 'Pizza', 'Soul Food', 'Italian',
       'Steak', 'Polish',
       'Latin (Cuban, Dominican, Puerto Rican, South & Central American)',
       'German', 'French', 'Pizza/Italian', 'Mexican', 'Spanish',
       'Cafe/Coffee/Tea', 'Seafood', 'Tex-Mex',
       'Bottled beverages, including water, sodas, juices, etc.',
       'Pancakes/Waffles', 'Other', 'Mediterranean', 'Japanese', 'Greek',
       'Thai', 'Indian', 'Korean', 'Chicken', 'Russian', 'Ethiopian',
       'Eastern European', 'Barbecue', 'Middle Eastern', 'Egyptian',
       'English', 'Chinese/Cuban', 'Asian', 'Portuguese', 'Indonesian',
       'Turkish', 'Moroccan', 'Hawaiian', 'Vegetarian', 'Filipino',
       'Juice, Smoothies, Fruit Salads', 'Sandwiches', 'Brazilian',
       'Vietnamese/Cambodian/Malaysia', 'Chilean', 'Soups & Sandwiches',
       'Afghan', 'Tapas', 'Pakistani', 'Peruvian', 'African', 'Armenian',
       'Bangladeshi', 'Czech', 'Salads', 'Creole', 'Iranian', 'Cajun',
       'Scandinavian', 'Polynesian', 'Australian', 'Chinese/Japanese',
       'Creole/Cajun', 'Hotdogs/Pretzels', 'Southwestern',
       'Fruits/Vegetables', 'Nuts/Confectionary', 'Soups', 'Californian',
       'Not Listed/Not Applicable'], dtype=object)

In [8]:
byfood = nyrestaurants.loc[nyrestaurants["Cuisine Type"] == "food", :]
print(len(byfood))
byfood.head()

220082

,index,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE,Cuisine Type
0,0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/04/23,food
1,1,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/08/26,food
2,2,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,6.0,A,02/09/2015,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2016/06/16,food
3,5,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,04A,Food Protection Certificate not held by superv...,Critical,12.0,A,05/07/2015,08/28/2017,Cycle Inspection / Initial Inspection,Hamburgers,11225,2013/12/11,food
4,8,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE,7182875005,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,8.0,A,12/30/2014,08/28/2017,Cycle Inspection / Re-inspection,Hamburgers,11225,2014/06/06,food

In [9]:
byethnicity = nyrestaurants.loc[nyrestaurants["Cuisine Type"] == "ethnic", :]
byethnicity.head()

Empty DataFrame
Columns: [index, CAMIS, DBA, BORO, BUILDING, STREET, PHONE, ACTION, VIOLATION CODE, VIOLATION DESCRIPTION, CRITICAL FLAG, SCORE, GRADE, GRADE DATE, RECORD DATE, INSPECTION TYPE, CUISINE DESCRIPTION, ZIPCODE, INSPECTION DATE, Cuisine Type]
Index: []

In [10]:
# By food type
groupByCuisineRest = byfood.groupby(['CUISINE DESCRIPTION','DBA'])
perRestaurant = pd.DataFrame({'# of violations':groupByCuisineRest['CAMIS'].count()})
print(perRestaurant['# of violations'].sum())
perRestaurant.head()

220082

                                                    # of violations
CUISINE DESCRIPTION DBA
Afghan              AFGHAN KEBAB HOUSE                            2
                    AFGHAN KEBAB HOUSE #1                         4
                    AFGHAN KEBOB HOUSE                            7
                    ARIA KABAB                                    7
                    ARIA KABAB /TARIQ AFGHAN KABAB               15

In [11]:
# By ethnicity
groupByCuisineRest = byethnicity.groupby(['CUISINE DESCRIPTION','DBA'])
perRestaurant = pd.DataFrame({'# of violations':groupByCuisineRest['CAMIS'].count()})
print(perRestaurant['# of violations'].sum())
perRestaurant.head()

0

Empty DataFrame
Columns: [# of violations]
Index: []

In [12]:
# All restaurants
groupByCuisineRest = nyrestaurants.groupby(['CUISINE DESCRIPTION','DBA'])
perRestaurant = pd.DataFrame({'# of violations':groupByCuisineRest['CAMIS'].count()})
print(perRestaurant['# of violations'].sum())
perRestaurant.head()

220082

                                                    # of violations
CUISINE DESCRIPTION DBA
Afghan              AFGHAN KEBAB HOUSE                            2
                    AFGHAN KEBAB HOUSE #1                         4
                    AFGHAN KEBOB HOUSE                            7
                    ARIA KABAB                                    7
                    ARIA KABAB /TARIQ AFGHAN KABAB               15

In [13]:
# By food
groupByCuisine = byfood.groupby(['CUISINE DESCRIPTION'])
perCuisine = pd.DataFrame({'# of violations':groupByCuisine['CAMIS'].count()})
nRestPerCuisine = pd.DataFrame({'# of restaurants':groupByCuisine['CAMIS'].nunique()})
perCuisine['# of restaurants'] = nRestPerCuisine['# of restaurants']
perCuisine["nViol_Rest"] = perCuisine['# of violations'] /perCuisine['# of restaurants']
perCuisine.head()

                     # of violations  # of restaurants  nViol_Rest
CUISINE DESCRIPTION
Afghan                           103                16    6.437500
African                          812                71   11.436620
American                       49026              5881    8.336337
Armenian                         272                34    8.000000
Asian                           3686               360   10.238889

In [14]:
# By ethnicity
groupByCuisine = byethnicity.groupby(['CUISINE DESCRIPTION'])
perCuisine = pd.DataFrame({'# of violations':groupByCuisine['CAMIS'].count()})
nRestPerCuisine = pd.DataFrame({'# of restaurants':groupByCuisine['CAMIS'].nunique()})
perCuisine['# of restaurants'] = nRestPerCuisine['# of restaurants']
perCuisine["nViol_Rest"] = perCuisine['# of violations'] /perCuisine['# of restaurants']
perCuisine.head()

Empty DataFrame
Columns: [# of violations, # of restaurants, nViol_Rest]
Index: []

In [15]:
# All restaurants
groupByCuisine = nyrestaurants.groupby(['CUISINE DESCRIPTION'])
perCuisine = pd.DataFrame({'# of violations':groupByCuisine['CAMIS'].count()})
nRestPerCuisine = pd.DataFrame({'# of restaurants':groupByCuisine['CAMIS'].nunique()})
perCuisine['# of restaurants'] = nRestPerCuisine['# of restaurants']
perCuisine["nViol_Rest"] = perCuisine['# of violations'] /perCuisine['# of restaurants']
perCuisine.head()

                     # of violations  # of restaurants  nViol_Rest
CUISINE DESCRIPTION
Afghan                           103                16    6.437500
African                          812                71   11.436620
American                       49026              5881    8.336337
Armenian                         272                34    8.000000
Asian                           3686               360   10.238889

In [16]:
groupByViolationCode = nyrestaurants.groupby(['VIOLATION CODE'])
dftmp = pd.DataFrame({'VIOLATION DESCRIPTION':groupByViolationCode['VIOLATION DESCRIPTION'].unique()})
desclist =[]
for desc in dftmp['VIOLATION DESCRIPTION']:
    desclist.append(desc[0])
desclist

perViolation = pd.DataFrame({'VIOLATION DESCRIPTION':desclist,'# of violations':groupByViolationCode['CAMIS'].count()})
perViolation = perViolation.sort_values('# of violations', ascending=False)

totalviolations = perViolation['# of violations'].sum()
perViolation['%'] = 100 * perViolation['# of violations'] / totalviolations

print(f"Total violations: {totalviolations}")
perViolation.head(15)

Total violations: 220082

,VIOLATION DESCRIPTION,# of violations,%
VIOLATION CODE,,,
02G,Cold food item held above 41Âº F (smoked fish ...,27852,12.655283
04L,Evidence of mice or live mice present in facil...,27777,12.621205
06D,"Food contact surface not properly washed, rins...",26115,11.866032
06C,Food not protected from potential source of co...,25955,11.793332
02B,Hot food item not held at or above 140Âº F.,19650,8.928490
04N,Filth flies or food/refuse/sewage-associated (...,19482,8.852155
04M,Live roaches present in facility's food and/or...,9016,4.096655
04H,"Raw, cooked or prepared food is adulterated, c...",8968,4.074845
06E,"Sanitized equipment or utensil, including in-u...",8772,3.985787
06F,Wiping cloths soiled or not stored in sanitizi...,7692,3.495061
04A,Food Protection Certificate not held by superv...,7337,3.333757
06A,Personal cleanliness inadequate. Outer garment...,7312,3.322398
02H,Food not cooled by an approved method whereby ...,4177,1.897929
05D,Hand washing facility not provided in or near ...,3429,1.558056
04C,Food worker does not use proper utensil to eli...,3163,1.437192

In [17]:
groupByBoro = nyrestaurants.groupby(['BORO'])
perBoro = pd.DataFrame({'# of Restaurants':groupByBoro['CAMIS'].nunique()
                        ,'# of violations':groupByBoro['CAMIS'].count()})
perBoro = perBoro.sort_values('# of Restaurants', ascending=False)
perBoro['# of violations per restaurant'] = perBoro['# of violations']/perBoro['# of Restaurants']
perBoro.head(15)

,# of Restaurants,# of violations,# of violations per restaurant
BORO,,,
MANHATTAN,9810,88496,9.020999
BROOKLYN,6069,54030,8.902620
QUEENS,5620,50945,9.064947
BRONX,2242,19027,8.486619
STATEN ISLAND,891,7584,8.511785