In [1]:
import datetime
import json
import pandas as pd
from pprint import pprint

In [3]:
nyrestaurants = pd.read_csv("nyrestaurants.csv", encoding="utf-8")
print(len(nyrestaurants))
print(nyrestaurants.dtypes)
nyrestaurants.head()

398783
CAMIS                      int64
DBA                       object
BORO                      object
BUILDING                  object
STREET                    object
PHONE                     object
ACTION                    object
VIOLATION CODE            object
VIOLATION DESCRIPTION     object
CRITICAL FLAG             object
SCORE                    float64
GRADE                     object
GRADE DATE                object
RECORD DATE               object
INSPECTION TYPE           object
CUISINE DESCRIPTION       object
ZIPCODE                    int64
INSPECTION DATE           object
dtype: object

,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE
0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/04/23
1,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/08/26
2,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,6.0,A,02/09/2015,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2016/06/16
3,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2017/01/25
4,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,NaN

In [4]:
foodtype = ["Bakery","Hamburgers","Delicatessen","Ice Cream"," Gelato"," Yogurt"," Ices","Hotdogs","Sandwiches/Salads/Mixed Buffet","Donuts","Bagels/Pretzels","Continental","Pizza","Soul Food","Steak","Pizza/Italian","Cafe/Coffee/Tea","Seafood","Tex-Mex","Bottled beverages"," including water"," sodas"," juices"," etc.","Pancakes/Waffles","Other","Chicken","Barbecue","","Vegetarian","Juice"," Smoothies"," Fruit Salads","Sandwiches","Soups & Sandwiches","Tapas","Salads","Creole","Cajun","Creole/Cajun","Hotdogs/Pretzels","Southwestern","Fruits/Vegetables","Nuts/Confectionary","Soups","Californian","Not Listed/Not Applicable"]
ethnicity = ["Irish","American","Jewish/Kosher","Chinese","Caribbean","Italian","Polish","Latin (Cuban"," Dominican"," Puerto Rican"," South & Central American)","German","French","Mexican","Spanish","Mediterranean","Japanese","Greek","Thai","Indian","Korean","Russian","Ethiopian","Eastern European","Middle Eastern","Egyptian","English","Chinese/Cuban","Asian","Portuguese","Indonesian","Turkish","Moroccan","Hawaiian","Filipino","Brazilian","Vietnamese/Cambodian/Malaysia","Chilean","Afghan","Pakistani","Peruvian","African","Armenian","Bangladeshi","Czech","Iranian","Scandinavian","Polynesian","Australian","Chinese/Japanese"]

cuisinetype = []

for i in range(len(nyrestaurants)):
    if nyrestaurants.iloc[i,15] in ethnicity:
        cuisinetype.append("ethnic")
    else:
        cuisinetype.append("food")
temp = pd.DataFrame({"Cuisine Type": cuisinetype})
nyrestaurants = nyrestaurants.join(temp)
nyrestaurants.head()

,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE,Cuisine Type
0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/04/23,food
1,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/08/26,food
2,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,6.0,A,02/09/2015,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2016/06/16,food
3,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2017/01/25,food
4,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,NaN,food

In [5]:
violationcodes = nyrestaurants['VIOLATION CODE'].unique()
nviolationcodes = len(violationcodes)
print(nviolationcodes)
violationcodes

98

array(['04L', '06D', '06C', '10F', '08A', '04A', '15I', '10B', '04J',
       '08C', '06A', '04N', '15L', '04H', '06B', '02G', '10E', '10A', nan,
       '02I', '10H', '09A', '20A', '22C', '16B', '06E', '02B', '06F',
       '10I', '04M', '10J', '02H', '04D', '04K', '20F', '09C', '09B',
       '04C', '10D', '05D', '22A', '05F', '16A', '02C', '08B', '02A',
       '05B', '20E', '04E', '02D', '05H', '20D', '04O', '22B', '18F',
       '15S', '04B', '10C', '16C', '16E', '16D', '03C', '05C', '03B',
       '22F', '04G', '15J', '04F', '05A', '03A', '22E', '06G', '05E',
       '15K', '07A', '03G', '18C', '06I', '18B', '18D', '22G', '10G',
       '03D', '15T', '04I', '15F', '15E', '20B', '06H', '16F', '15A',
       '05I', '02F', '02E', '03E', '03F', '02J', '15H'], dtype=object)

In [6]:
cuisines = nyrestaurants['CUISINE DESCRIPTION'].unique()
ncuisines = len(cuisines)
print(ncuisines)
cuisines

84

array(['Bakery', 'Hamburgers', 'Irish', 'American', 'Delicatessen',
       'Ice Cream, Gelato, Yogurt, Ices', 'Hotdogs', 'Jewish/Kosher',
       'Chinese', 'Sandwiches/Salads/Mixed Buffet', 'Caribbean', 'Donuts',
       'Bagels/Pretzels', 'Continental', 'Pizza', 'Soul Food', 'Italian',
       'Steak', 'Polish',
       'Latin (Cuban, Dominican, Puerto Rican, South & Central American)',
       'German', 'French', 'Pizza/Italian', 'Mexican', 'Spanish',
       'Cafe/Coffee/Tea', 'Seafood', 'Tex-Mex',
       'Bottled beverages, including water, sodas, juices, etc.',
       'Pancakes/Waffles', 'Other', 'Mediterranean', 'Japanese', 'Greek',
       'Thai', 'Indian', 'Korean', 'Chicken', 'Russian', 'Ethiopian',
       'Eastern European', 'Barbecue', 'Middle Eastern', 'Egyptian',
       'English', 'Chinese/Cuban', 'Asian', 'Portuguese', 'Indonesian',
       'Turkish', 'Moroccan', 'Hawaiian', 'Vegetarian', 'Filipino',
       'Juice, Smoothies, Fruit Salads', 'Sandwiches', 'Brazilian',
       'Vietnamese/Cambodian/Malaysia', 'Chilean', 'Soups & Sandwiches',
       'Afghan', 'Tapas', 'Pakistani', 'Peruvian', 'African', 'Armenian',
       'Bangladeshi', 'Czech', 'Salads', 'Creole', 'Iranian', 'Cajun',
       'Scandinavian', 'Polynesian', 'Australian', 'Chinese/Japanese',
       'Creole/Cajun', 'Hotdogs/Pretzels', 'Southwestern',
       'Fruits/Vegetables', 'Nuts/Confectionary', 'Soups', 'Californian',
       'Not Listed/Not Applicable'], dtype=object)

In [8]:
byfood = nyrestaurants.loc[nyrestaurants["Cuisine Type"] == "food", :]
byfood.head()

,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE,Cuisine Type
0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/04/23,food
1,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2014/08/26,food
2,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,6.0,A,02/09/2015,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2016/06/16,food
3,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,7.0,A,05/18/2017,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,2017/01/25,food
4,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,7188924968,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,10.0,A,02/18/2016,08/28/2017,Cycle Inspection / Initial Inspection,Bakery,10462,NaN,food

In [9]:
byethnicity = nyrestaurants.loc[nyrestaurants["Cuisine Type"] == "ethnic", :]
byethnicity.head()

,CAMIS,DBA,BORO,BUILDING,STREET,PHONE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,CUISINE DESCRIPTION,ZIPCODE,INSPECTION DATE,Cuisine Type
30,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained;...,Not Critical,10.0,A,05/31/2016,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2014/05/09,ethnic
31,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,02I,Food prepared from ingredients at ambient temp...,Critical,26.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2015/04/07,ethnic
32,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained;...,Not Critical,26.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2015/04/08,ethnic
33,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,10H,Proper sanitization not provided for utensil w...,Not Critical,12.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2015/04/29,ethnic
34,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET,2122452912,Violations were cited in the following area(s).,04H,"Raw, cooked or prepared food is adulterated, c...",Critical,26.0,NaN,NaN,08/28/2017,Cycle Inspection / Initial Inspection,Irish,10019,2015/05/26,ethnic

In [10]:
# By food type
groupByCuisineRest = byfood.groupby(['CUISINE DESCRIPTION','DBA'])
perRestaurant = pd.DataFrame({'# of violations':groupByCuisineRest['CAMIS'].count()})
print(perRestaurant['# of violations'].sum())
perRestaurant.head()

131218

                                             # of violations
CUISINE DESCRIPTION DBA
Bagels/Pretzels     A&R HOT BAGELS                         3
                    ABSOLUTE BAGELS                       15
                    ACE HOT BAGEL & DELI                  26
                    ACTS III BAGELS                       16
                    AMERICAN NEW YORK BAGEL               17

In [11]:
# By ethnicity
groupByCuisineRest = byethnicity.groupby(['CUISINE DESCRIPTION','DBA'])
perRestaurant = pd.DataFrame({'# of violations':groupByCuisineRest['CAMIS'].count()})
print(perRestaurant['# of violations'].sum())
perRestaurant.head()

267565

                                                    # of violations
CUISINE DESCRIPTION DBA
Afghan              AFGHAN KEBAB HOUSE                            4
                    AFGHAN KEBAB HOUSE #1                        11
                    AFGHAN KEBOB HOUSE                           15
                    ARIA KABAB                                   14
                    ARIA KABAB /TARIQ AFGHAN KABAB               23

In [12]:
# All restaurants
groupByCuisineRest = nyrestaurants.groupby(['CUISINE DESCRIPTION','DBA'])
perRestaurant = pd.DataFrame({'# of violations':groupByCuisineRest['CAMIS'].count()})
print(perRestaurant['# of violations'].sum())
perRestaurant.head()

398783

                                                    # of violations
CUISINE DESCRIPTION DBA
Afghan              AFGHAN KEBAB HOUSE                            4
                    AFGHAN KEBAB HOUSE #1                        11
                    AFGHAN KEBOB HOUSE                           15
                    ARIA KABAB                                   14
                    ARIA KABAB /TARIQ AFGHAN KABAB               23

In [13]:
# By food
groupByCuisine = byfood.groupby(['CUISINE DESCRIPTION'])
perCuisine = pd.DataFrame({'# of violations':groupByCuisine['CAMIS'].count()})
nRestPerCuisine = pd.DataFrame({'# of restaurants':groupByCuisine['CAMIS'].nunique()})
perCuisine['# of restaurants'] = nRestPerCuisine['# of restaurants']
perCuisine["nViol_Rest"] = perCuisine['# of violations'] /perCuisine['# of restaurants']
perCuisine.head()

,# of violations,# of restaurants,nViol_Rest
CUISINE DESCRIPTION,,,
Bagels/Pretzels,2795,173,16.156069
Bakery,11946,726,16.454545
Barbecue,858,52,16.500000
"Bottled beverages, including water, sodas, juices, etc.",1147,101,11.356436
Cafe/Coffee/Tea,15562,1547,10.059470

In [14]:
# By ethnicity
groupByCuisine = byethnicity.groupby(['CUISINE DESCRIPTION'])
perCuisine = pd.DataFrame({'# of violations':groupByCuisine['CAMIS'].count()})
nRestPerCuisine = pd.DataFrame({'# of restaurants':groupByCuisine['CAMIS'].nunique()})
perCuisine['# of restaurants'] = nRestPerCuisine['# of restaurants']
perCuisine["nViol_Rest"] = perCuisine['# of violations'] /perCuisine['# of restaurants']
perCuisine.head()

                     # of violations  # of restaurants  nViol_Rest
CUISINE DESCRIPTION
Afghan                           221                16   13.812500
African                         1426                71   20.084507
American                       90954              6093   14.927622
Armenian                         484                36   13.444444
Asian                           6254               366   17.087432

In [15]:
# All restaurants
groupByCuisine = nyrestaurants.groupby(['CUISINE DESCRIPTION'])
perCuisine = pd.DataFrame({'# of violations':groupByCuisine['CAMIS'].count()})
nRestPerCuisine = pd.DataFrame({'# of restaurants':groupByCuisine['CAMIS'].nunique()})
perCuisine['# of restaurants'] = nRestPerCuisine['# of restaurants']
perCuisine["nViol_Rest"] = perCuisine['# of violations'] /perCuisine['# of restaurants']
perCuisine.head()

                     # of violations  # of restaurants  nViol_Rest
CUISINE DESCRIPTION
Afghan                           221                16   13.812500
African                         1426                71   20.084507
American                       90954              6093   14.927622
Armenian                         484                36   13.444444
Asian                           6254               366   17.087432

In [16]:
groupByViolationCode = nyrestaurants.groupby(['VIOLATION CODE'])
dftmp = pd.DataFrame({'VIOLATION DESCRIPTION':groupByViolationCode['VIOLATION DESCRIPTION'].unique()})
desclist =[]
for desc in dftmp['VIOLATION DESCRIPTION']:
    desclist.append(desc[0])
desclist

perViolation = pd.DataFrame({'VIOLATION DESCRIPTION':desclist,'# of violations':groupByViolationCode['CAMIS'].count()})
perViolation = perViolation.sort_values('# of violations', ascending=False)

totalviolations = perViolation['# of violations'].sum()
perViolation['%'] = 100 * perViolation['# of violations'] / totalviolations

print(f"Total violations: {totalviolations}")
perViolation.head(15)

Total violations: 393414

,VIOLATION DESCRIPTION,# of violations,%
VIOLATION CODE,,,
10F,Non-food contact surface improperly constructe...,55785,14.179719
08A,Facility not vermin proof. Harborage or condit...,39992,10.165373
02G,Cold food item held above 41 F (smoked fish ...,27852,7.079565
04L,Evidence of mice or live mice present in facil...,27777,7.060501
06D,"Food contact surface not properly washed, rins...",26115,6.638045
06C,Food not protected from potential source of co...,25955,6.597376
10B,Plumbing not properly installed or maintained;...,22141,5.627914
02B,Hot food item not held at or above 140 F.,19650,4.994738
04N,Filth flies or food/refuse/sewage-associated (...,19482,4.952035
04M,Live roaches present in facility's food and/or...,9016,2.291733
04H,"Raw, cooked or prepared food is adulterated, c...",8968,2.279533
06E,"Sanitized equipment or utensil, including in-u...",8772,2.229712
06F,Wiping cloths soiled or not stored in sanitizi...,7692,1.955192
04A,Food Protection Certificate not held by superv...,7337,1.864957
06A,Personal cleanliness inadequate. Outer garment...,7312,1.858602

In [17]:
groupByBoro = nyrestaurants.groupby(['BORO'])
perBoro = pd.DataFrame({'# of Restaurants':groupByBoro['CAMIS'].nunique()
                        ,'# of violations':groupByBoro['CAMIS'].count()})
perBoro = perBoro.sort_values('# of Restaurants', ascending=False)
perBoro['# of violations per restaurant'] = perBoro['# of violations']/perBoro['# of Restaurants']
perBoro.head(15)

,# of Restaurants,# of violations,# of violations per restaurant
BORO,,,
MANHATTAN,10168,159099,15.647030
BROOKLYN,6223,99297,15.956452
QUEENS,5742,92175,16.052769
BRONX,2323,34824,14.990960
STATEN ISLAND,914,13388,14.647702